.u-flexbox {
  display: flex !important;
}

.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-inline {
  display: inline !important;
}

.u-table {
  display: table !important;
}

.u-justify-content-center {
  justify-content: center;
}

.u-justify-content-flex-end {
  justify-content: flex-end;
}

.u-justify-content-flex-start {
  justify-content: flex-start;
}

.u-flex-direction-column {
  flex-direction: column;
}

.u-align-items-center {
  align-items: center;
}

.u-fill-width {
  width: 100%;
}
